html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #151415;
    scroll-behavior: smooth; /* Ensures smooth scrolling for anchor links */
  }
  
  /* Initial state: hidden and translated down */
  .fade-in {
    opacity: 0;
    transform: translateY(10px); /* Starts 30px below its final position */
    transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out; /* Both opacity and transform will transition */
  }
  
  /* When the "visible" class is added, it fades in and moves up */
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0); /* Moves to its final position */
  }
  
  .Home {
    height: 100%;
  }
  
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    opacity: 0; /* Initial state: hidden */
    transform: translateY(20px); /* Start slightly below its final position */
    transition: opacity 1s ease, transform 1s ease; /* Smooth transition */
  }

  .main-container.visible {
    opacity: 1; /* Fade in */
    transform: translateY(0); /* Move to its final position */
  }
  
  
  h1 {
    font-size: 4em;
    text-align: left;
    margin-left: 20px;
  }
  
  h2 {
    font-size: 1.9em;
    color: #D1D1C7;
    margin-left: 20px;
    flex-grow: 1;
    line-height: 1.3;
  }
  
  h3 {
    font-size: 1.4em;
    color: #D1D1C7;
    flex-grow: 1;
    font-weight: 0;
    margin-left: 20px;
  }
  
  h4 {
    font-size: 1.4em;
    color: #D1D1C7;
    flex-grow: 1;
    font-weight: 0;
  }
  
  .content-container {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-top: 7rem; /* Add enough top margin to clear the header */
    margin-bottom: 3rem;
  }
  
  /* Applies to main body text using Open Sans */
  .proxima-nova-body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400; 
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  
  /* Basic Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    display: flex;
    position: fixed; /* Fixes the header at the top */
    top: 0; /* Ensures it is at the top of the page */
    width: 100%;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #E9E9E9;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    background-color: #151415;
    z-index: 1000; /* Ensures the header stays above other content */
  }
  
  .header-links {
    list-style: none;
    display: flex;
    margin-left: auto; /* Align the header links to the right */
    margin-right: 5rem;
  }
  
  .header-links li {
    margin-left: 2.5rem; /* Creates a gap between each link */
  }
  
  .header-links li:first-child {
    margin-left: 0;
  }
  
  .header-links a {
    position: relative; /* To position the underline effect */
    text-decoration: none;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif; /* Matches the site's font */
    color: #F5F5F5;
    transition: color 0.2s ease-in-out; /* Smooth color transition on hover */
  }
  
  .header-links a:before {
    content: ''; /* Empty content for the underline */
    position: absolute;
    width: 0%;
    height: 2px; /* Thickness of the underline */
    bottom: -4px; /* Position the underline just below the text */
    left: 0;
    background-color: #F5F5F5; /* Color of the underline */
    transition: width 0.2s ease-in-out; /* Animate the underline from left to right */
  }
  
  .header-links a:hover:before {
    width: 100%; /* Extend underline on hover */
  }
  
  .header-links .link-current:before {
    width: 100%; /* Keep the underline for the active link */
    background-color: #F5F5F5; /* Ensure it matches the hover underline color */
  }
  
  .open-sans-header {
    font-size: 5em;
    color: #F5F5F5;
    line-height: 1.1;
    margin-bottom: 1rem;
  }
  
  .profile-pic {
    width: 17rem; 
    height: 17rem; 
    border-radius: 50%; 
    object-fit: cover;
    margin-bottom: 2rem; /* Add margin so the image doesn't overlap with the header */
    margin-right: 1.7rem;
    margin-left: 1.7rem;
  }
  
  .header-brand {
    font-size: 1.7rem; /* Adjust the font size for the name */
    font-family: 'Open Sans', sans-serif; /* Use your site font */
    color: #F5F5F5; /* Text color */
    font-weight: 1000;
    margin-left: 3rem;
  }
  
  .brand-link {
    text-decoration: none; /* Remove the underline */
    font-family: 'Open Sans', sans-serif; /* Use your site font */
    color: #F5F5F5; /* Text color */
    transition: color 0.2s ease-in-out; /* Smooth color transition */
  }
  
  .brand-link:hover {
    color: #343234; /* Change the color when hovered */
  }
  
  .emoji-large {
    font-size: 2.3rem; 
    margin-left: 0.3rem;
    margin-right: 0.2rem;
    position: relative;
    top: 5px; /* Move the emoji down by 5px */
  }
  
  /* Styling for the clickable email */
  .email-clickable {
    cursor: pointer;
    text-decoration: underline;
    color: inherit;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .email-clickable:hover {
    background-color: #62A8F9;
    color: #151415;
  }
  
  .copied-notification-overlay {
    position: absolute; /* Makes the notification overlay the content */
    align-text: center;
    background-color: rgba(0, 0, 0, 0.75); /* Semi-transparent black background */
    color: #fff; /* White text */
    padding: 1rem 1rem; /* Padding around the text */
    border-radius: 12px; /* Rounded corners */
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    z-index: 1000; /* Ensures it appears above other elements */
    opacity: 1;
    animation: fadeout 2s ease-out forwards; /* Fades out after 2 seconds */
  }
  
  /* Keyframe animation for fading out */
  @keyframes fadeout {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  @media (max-width: 768px) {
  
    .profile-pic{
      width: 12rem; 
      height: 12rem;
    }
  
    .content-container {
      margin-top: 12rem; /* Increase the margin-top for smaller screens */
      flex-direction: column; /* Stack the image and header vertically */
      align-items: center;
      flex-direction: column; /* Stack the elements vertically */
      justify-content: center; /* Center elements vertically if needed */
    }
  
    .header-brand {
      margin-left: 0;
      margin-right: 0;
      margin-top: -0.5rem;
      margin-bottom: 1rem;
    }
  
    .header {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
  
    .header-links {
        align-items: center;
        margin-left: 0;
        margin-right: 0;
        padding-top: 10px;
    }
  
    .header-links li {
        margin-left: 1.3rem;
    }
  
    h2 {
      font-size: 1.2rem; /* Make the secondary text smaller */
    }
  
    .open-sans-header {
      font-size: 3em;
      line-height: 1.5;
    }
  }
  
  
  /* Styling for the down arrow */
  .arrow-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Centers the arrow vertically */
    width: 100%; /* Set a fixed width */
    margin-bottom: 2rem;
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .fade-out-up {
    animation: fadeUp 0.5s forwards;
  }
  
  .fade-in-down {
    animation: fadeDown 0.5s forwards;
  }
  
  @keyframes fadeUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
  }
  
  @keyframes fadeDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  
  /* Styling for the Font Awesome arrow icon */
  .arrow-icon {
    margin-top: 1rem;
    font-size: 3rem; /* Correct size for the arrow */
    color: #62A8F9; /* Color of the arrow */
    animation: bounce 1.5s infinite; /* Add bounce animation */
    cursor: pointer;
  }
  
  /* Animation for the arrow to "bounce" */
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); /* Start and end at the same position */
    }
    50% {
      transform: translateY(-20px); /* Bounce to this position */
    }
  }
  
  /* Next section */
  .next-section {
    margin-top: 3rem;
    background-color: #393D3F;
    text-align: center;
    height: 100%;
    position: relative; /* Allows child elements to be positioned absolutely */
    padding-top: 1rem; /* Remove extra padding if it pushes content down */
    padding-bottom: 9rem; /* Keep padding for the bottom */
  }
  
  .next-section-header{
    margin-top: 5rem;
    position: relative;
    padding: 1rem;
    color: #FFFFFF;
    font-size: 2rem;
    text-align: center;
  }
  
  .next-section-header::after {
    content: "";
    display: block;
    position: absolute;
    width: 50px; /* Adjust the width as needed */
    height: 6px; /* Adjust the height as needed */
    background-color: #62A8F9; /* Color of the rectangle */
    border-radius: 12px; /* Rounded corners */
    bottom: 0px; /* Adjust position below the text */
    left: 50%;
    transform: translateX(-50%);
  }
  
  /* Container for the image */
  .next-section-container {
    display: flex; /* Enable flexbox to align items horizontally */
    justify-content: center; /* Center the image and text together */
    gap: 2rem; /* Space between the image and the text */
    text-align: center;
    margin-top: 1rem; /* Add space between the header and the image */
    padding: 2rem 0; /* Optional padding around the image */
    overflow: hidden;
    margin-bottom: -3rem;
    max-width: 1200px; /* Set a maximum width for larger screens */
    margin-left: auto; /* Center the container */
    margin-right: auto; /* Center the container */
  }
  
  /* Styling for the image */
  .jimin-in-korea {
    width: 20%; /* Adjust the width to make the image smaller */
    min-width: 20%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
  }
  
  .description-text{
    font-size: 1.2em;
    color: #E3E3DD;
    font-family: 'Assistant', sans-serif;
    max-width: 40%; /* Set a max width for the text block */
    text-align: left; /* Align the text to the left */
    line-height: 1.5;
  }
  
  .social-icons-container {
    justify-content: center;  /* Centers the icons horizontally */
    align-items: center;      /* Aligns icons vertically */
    position: absolute;          /* Sticks the icons to the bottom */
    bottom: 3rem;
    width: 100%;
  }
  
  .social-icons-container i {
    font-size: 2rem;          /* Adjust icon size */
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    color: #62A8F9;              
    transition: color 0.3s ease;
  }
  
  .social-icons-container i:hover {
    color: #064D9D;           /* Change color on hover */
    cursor: pointer;
  }
  
  @media (max-width: 1100px) {
    .jimin-in-korea {
      min-width: 35%;
    }
  }
  
  @media (max-width: 768px) {
    .next-section-container {
      flex-direction: column; /* Stack items vertically */
      align-items: center; /* Center items horizontally */
    }
  
    .jimin-in-korea {
      width: 50%; /* Make the image larger on smaller screens */
      margin-bottom: 1rem; /* Add spacing below the image */
    }
  
    .description-text {
      max-width: 80%; /* Expand the text width on smaller screens */
      text-align: left; /* Center text on smaller screens */
    }
  }